<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henglee.hrp.hrs.attendance.mapper.HrsAttendanceRestTemplateMapper">
    
    <resultMap type="HrsAttendanceRestTemplate" id="HrsAttendanceRestTemplateResult">
        <result property="templateId"    column="template_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="templateType"    column="template_type"    />
        <result property="restDays"    column="rest_days"    />
        <result property="workDays"    column="work_days"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectHrsAttendanceRestTemplateVo">
        select template_id, template_name, template_type, rest_days, work_days, status, del_flag, create_by, create_time, update_by, update_time, remark from hrs_attendance_rest_template
    </sql>

    <select id="selectHrsAttendanceRestTemplateList" parameterType="HrsAttendanceRestTemplate" resultMap="HrsAttendanceRestTemplateResult">
        <include refid="selectHrsAttendanceRestTemplateVo"/>
        <where>  
            <if test="templateName != null  and templateName != ''"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="templateType != null  and templateType != ''"> and template_type = #{templateType}</if>
            <if test="restDays != null  and restDays != ''"> and rest_days = #{restDays}</if>
            <if test="workDays != null  and workDays != ''"> and work_days = #{workDays}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectHrsAttendanceRestTemplateByTemplateId" parameterType="Long" resultMap="HrsAttendanceRestTemplateResult">
        <include refid="selectHrsAttendanceRestTemplateVo"/>
        where template_id = #{templateId}
    </select>
        
    <insert id="insertHrsAttendanceRestTemplate" parameterType="HrsAttendanceRestTemplate" useGeneratedKeys="true" keyProperty="templateId">
        insert into hrs_attendance_rest_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateName != null">template_name,</if>
            <if test="templateType != null">template_type,</if>
            <if test="restDays != null">rest_days,</if>
            <if test="workDays != null">work_days,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateName != null">#{templateName},</if>
            <if test="templateType != null">#{templateType},</if>
            <if test="restDays != null">#{restDays},</if>
            <if test="workDays != null">#{workDays},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateHrsAttendanceRestTemplate" parameterType="HrsAttendanceRestTemplate">
        update hrs_attendance_rest_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null">template_name = #{templateName},</if>
            <if test="templateType != null">template_type = #{templateType},</if>
            <if test="restDays != null">rest_days = #{restDays},</if>
            <if test="workDays != null">work_days = #{workDays},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where template_id = #{templateId}
    </update>

    <delete id="deleteHrsAttendanceRestTemplateByTemplateId" parameterType="Long">
        delete from hrs_attendance_rest_template where template_id = #{templateId}
    </delete>

    <delete id="deleteHrsAttendanceRestTemplateByTemplateIds" parameterType="String">
        delete from hrs_attendance_rest_template where template_id in 
        <foreach item="templateId" collection="array" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </delete>
</mapper> 