<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henglee.hrp.hrs.salary.mapper.HrsSalarySystemMapper">
    
    <resultMap type="HrsSalarySystem" id="HrsSalarySystemResult">
        <result property="systemId"    column="system_id"    />
        <result property="systemName"    column="system_name"    />
        <result property="systemType"    column="system_type"    />
        <result property="systemCode"    column="system_code"    />
        <result property="systemDesc"    column="system_desc"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectHrsSalarySystemVo">
        select system_id, system_name, system_type, system_code, system_desc, status, del_flag, create_by, create_time, update_by, update_time, remark
        from hrs_salary_system
    </sql>

    <select id="selectHrsSalarySystemList" parameterType="HrsSalarySystem" resultMap="HrsSalarySystemResult">
        <include refid="selectHrsSalarySystemVo"/>
        <where>  
            <if test="systemName != null  and systemName != ''"> and system_name like concat('%', #{systemName}, '%')</if>
            <if test="systemType != null  and systemType != ''"> and system_type = #{systemType}</if>
            <if test="systemCode != null  and systemCode != ''"> and system_code = #{systemCode}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectHrsSalarySystemBySystemId" parameterType="Long" resultMap="HrsSalarySystemResult">
        <include refid="selectHrsSalarySystemVo"/>
        where system_id = #{systemId}
    </select>
        
    <insert id="insertHrsSalarySystem" parameterType="HrsSalarySystem" useGeneratedKeys="true" keyProperty="systemId">
        insert into hrs_salary_system
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemName != null">system_name,</if>
            <if test="systemType != null">system_type,</if>
            <if test="systemCode != null">system_code,</if>
            <if test="systemDesc != null">system_desc,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemName != null">#{systemName},</if>
            <if test="systemType != null">#{systemType},</if>
            <if test="systemCode != null">#{systemCode},</if>
            <if test="systemDesc != null">#{systemDesc},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateHrsSalarySystem" parameterType="HrsSalarySystem">
        update hrs_salary_system
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemName != null">system_name = #{systemName},</if>
            <if test="systemType != null">system_type = #{systemType},</if>
            <if test="systemCode != null">system_code = #{systemCode},</if>
            <if test="systemDesc != null">system_desc = #{systemDesc},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where system_id = #{systemId}
    </update>

    <delete id="deleteHrsSalarySystemBySystemId" parameterType="Long">
        delete from hrs_salary_system where system_id = #{systemId}
    </delete>

    <delete id="deleteHrsSalarySystemBySystemIds" parameterType="String">
        delete from hrs_salary_system where system_id in 
        <foreach item="systemId" collection="array" open="(" separator="," close=")">
            #{systemId}
        </foreach>
    </delete>
</mapper> 